/* 
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/
@import "chota/dist/chota.css";
@import "@peculiar/certificates-viewer/dist/peculiar/peculiar.css";

@media only screen and (prefers-color-scheme: dark) {
  body {
    --bg-color: #000;
    --bg-secondary-color: #131316;
    --font-color: #f5f5f5;
    --color-grey: #ccc;
    --color-darkGrey: #777;
  }
}
