@import "chota/dist/chota.css";
@import "@peculiar/certificates-viewer/dist/peculiar/peculiar.css";

@media only screen and (prefers-color-scheme: dark) {
  body {
    --bg-color: #000;
    --bg-secondary-color: #131316;
    --font-color: #f5f5f5;
    --color-grey: #ccc;
    --color-darkGrey: #777;
  }
}

.container {
  max-width: 800px;
}
